*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #0f1111;
    color: white;
}

nav img{
    height:50px;
    width: 115px;
}
#userLocation{
    display: flex;
    align-items: center;
    gap:5px;
}
#userlocation i{
    margin-top: 8px;
    color: #fff;
}
#Location p:first-of-type{
    font-size:12px;
}
#Location p:last-of-type{
    font-size: 14px;
    font-weight: bold;
}
#ourProduct{
    width: 50px;
    outline: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #d4d4d4f7;

}

#search{
    display: flex;
    padding: 5px 0px;
    width:50%;
    height:50px;
}
#searchInput{
    height:100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 10px;
}
#search-Icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    background-color: #f3a847;
    color:black;
    font-size: 21px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#cart{
    font-size: 30px;
}
#secondary-nav{
    background-color: rgba(34 , 47, 61, 255);
    padding:15px;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-style: normal;
}
#menu{
    display: flex;
    gap:20px;
    align-items: center;
    color: #fff;
}
#menu li:last-of-type{
    margin-left: auto;
}
#menu li{
    
    list-style: none;
}
#menu li a{
    text-decoration: none;
    color:#fff
}
#primeDay{
    width:100%;
}
#shoppingItem{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:13px;
    width: 100%;
    background-color: #f3f3f3;
    padding: 20xp;
}
#shoppingItem a{
     text-decoration: none;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #ffffff;
    padding: 15px;
    text-align: center;
}
.product p:first-child{
    font-size: 18px;
    width: 100%;
    font-weight: bold;
}
.product a{
    font-size: 15px;
}

.product img{
    width:100%;
    height: auto;
}
#movingForward{
    background-color: rgba(55 , 71, 90, 255);
    text-align: center;
    padding: 20px;
    cursor: pointer;
    
}

#movingForward a{
    text-decoration: none;
    color: #fff;

}
footer{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(35 , 47, 62, 255);
    padding: 15px 0px;
}
.footerLinks  ul{
    display: flex;
    flex-direction: column;
    gap:5px;
    color:#acaba4;
    font-size: 14px;
}
.footerLinks h3{
    color: #fff;
    margin-bottom: 15px;
}
.footerLinks li{
    list-style: none;
}
.footerLinks li a{
    text-decoration: none;
    color: #c6bbbb;
}

/*----------Responsive---------*/
/*------Tablet-------*/
@media (min-width:768px) and (max-width:1024px){
    #search {
        width: 40%;
    }

    #shoppingItem{
        grid-template-columns: repeat(2,1fr);
    }
}

/*-----mobile----*/

@media (max-width:767px){
    .navbar{
        padding: 5px;
    }
    .navbar img{
        height:50px;
        width:70px;
    }
    #userLocation{
        display:none;
    }

    .navbar p:last-of-type{
        display: none;
    }
    #ourProduct{
        display: none;
    }
    #searchInput{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    #cart{
        font-size: 18px;
    }
    #secondary-nav{
        padding: 8px;
    }
    #menu{
        flex-wrap: wrap;
        gap:14px;
    }
    #menu li:last-of-type{
        display: none;
    }
    #primeDay{
        height: 150px;
    }

    #shoppingItem{
        grid-template-columns:repeat(1,1fr);
        padding:0px;
        gap: 0px;
    }

    .product{
        margin: 20px 0;
        
    }
    .product p:first-child{
        font-size: 16px;
    }
    .product p:last-child{
        font-size: 12px;
    }
    footer{
        flex-direction: column;
        align-items: center;
        gap:20px;
    }
    .footerLinks li{
        text-align: center;
    }
}